/* ========================================
   Post Blocks
   ======================================== */

// Insights
.insights__post {
  margin-top: 1.5em;
  float: left;
  width: 100%;

  img {
    float: left;
    width: 50%;

    @include mq(ipad, 'max-width') {
      width: 100%;
    }
  }

  .insights__content-wrap {
    float: right;
    width: 40%;

    @include mq(ipad, 'max-width') {
      width: 100%;
    }
  }

  .insights__title {
    margin-top: 1em;
    color: $primary;
    font-size: 5em;
    line-height: 1;
    font-weight: 500;
    margin-bottom: .75em;
  }
}

// News
.news {
  overflow: hidden;
  background: url('../img/wood-bg.png') no-repeat;
  background-size: cover;
  background-position: center center; 

  &__post {
    margin-bottom: 4em;
  }

  &__date {
    color: $primary;
    font-size: .85em;
    text-transform: uppercase;
    margin-bottom: 1.5em;
  }

  &__title {
    color: $copy-light;
    font-size: 1.75em;
    line-height: 1.1;
    margin-bottom: 1em;
  }

  &__link {
    color: white;
    font-size: .7em;
  }

  .link,
  a.link {
    color: white;
  }
}

// News & Media 
.news-menu {
  padding: 2.5em 0;
  text-align: left;

  li {
    display: inline-block;
    margin-right: 1.5em;

    a {
      font-size: 1em;
      color: $primary;
      font-weight: 700;
      text-transform: uppercase;
      transition: .1s ease all;

      &:hover {
        opacity: .7;
      }
    }
  }
}

.news-loop {
  border-bottom: 1px solid $copy-lighter;
}

.news-loop__item {
  width: 50%;
  float: left;
  margin-bottom: 3em;

  @include mq(tablet, 'max-width') {
    width: 100%;
  }

  .content {
    padding: 0 4%;
  }
  
  img {
    height: 220px;
    object-fit: cover;
    width: 100%;
  }

  .title {
    font-size: 1.75em;
    margin-top: 1em;
    margin-bottom: .25em;

    a {
      color: $primary;
    }
  }

  .excerpt {
    font-size: 1.1em;
    margin-bottom: 1em;
  }
}

// Projects 
.project-menu {
  padding: 2.5em 0;
  text-align: center;

  li {
    display: inline-block;
    margin-bottom: 10px;

    a {
      padding: 1em;
      font-size: .9em;
      color: $copy-light;
      text-transform: uppercase;
      transition: .1s ease all;

      &:hover {
       /* opacity: .7; */
      }
    }
  }
}

.project-loop {

  .project-block,
  .project-block--stacked {
    max-height: 500px;
    width: 33.33333333%;
    float: left;
    position: relative;

    .overlay {
      display: none;
      min-height: 100px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 200;
      color: white;
      background: rgba(237, 27, 46, 0.8);
      padding: 30px;

      &__text {
        float: left;
        width: 55%;
        margin-right: 2.5%;
      }
    }

    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }

    a.title {
      position: absolute;
      bottom: 30px;
      left: 30px;
      color: white;
      border-bottom: 2px solid $primary;
      text-transform: uppercase;
    }

    &:hover {
      .overlay {
        display: block;
      }

      a.title {
        position: absolute !important;
        right: 30px !important;
        max-width: 35% !important;
        float: right !important;
        text-align: right !important;
        display: inline !important;
        left: auto !important;
        font-weight: 900 !important;
        border-bottom: 2px solid white !important;
        display: inline-block !important;

        &:hover {
          color: rgba(255, 255, 255, .8);
        }
      }
    }
  }

  //.project-block:nth-child(1)  { width: 50%; }
  //.project-block:nth-child(2)  { width: 50%; }
  //.project-block:nth-child(3)  { width: 33.3333333%; } 
  //.project-block:nth-child(4)  { width: 66.6666666%; }
  //.project-block:nth-child(5)  { width: 33.3333333%; }
  //.project-block:nth-child(6)  { width: 33.3333333%; }
  //.project-block:nth-child(7)  { width: 33.3333333%; }
  //.project-block:nth-child(8)  { width: 50%; }
  //.project-block:nth-child(9)  { width: 50%; }

  //.project-block:nth-child(1)  img { height: 460px; }
  //.project-block:nth-child(2)  img { height: 460px; }
  //.project-block:nth-child(3)  img { height: 615px; }
  //.project-block:nth-child(4)  img { height: 615px; }
  //.project-block:nth-child(5)  img { height: 310px; }
  //.project-block:nth-child(6)  img { height: 310px; }
  //.project-block:nth-child(7)  img { height: 310px; }
  //.project-block:nth-child(8)  img { height: 475px; }
  //.project-block:nth-child(9)  img { height: 475px; }

  .project-block {
    @include mq(desktop, 'max-width') {
      width: 50% !important;
    }

    @include mq(ipad, 'max-width') {
      width: 100% !important;
    }
    
    img {
      @include mq(ipad, 'max-width') {
        height: 300px !important;
      }
    }  
  }
}
