/* ========================================
   Variables 
   ======================================== */

// Spacing
$section-padding: 3em 0;

// Typography
$sans-serif: "din-2014", Helvetica, Arial, sans-serif;
$sans-serif-alt: 'Roboto', Helvetica, Arial, sans-serif;

// Colors
$primary: #ed1b2e;
$copy-main: #6d6d6d;
$copy-light: #9b9b9b;
$copy-lighter: #dddddd;
$copy-dark: #424242;